.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.display {
    display: flex;
}

.marginBottom {
    margin-bottom: 10px;
}
.marginLeft{
    margin-left: "50px"
}

.padding {
    padding: 20px;
}
.actionBtns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.width {
    width: 45%;
}
.orgHeight {
    padding: 10px;
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.periodFields {
    width: 100%;
    display: flex;
    gap: 10px;
}

.fields {
    width: 200px
}

.fieldSelected {
    display: flex;
    width: 400px;
    gap: 10px;
}

.fieldSelected>*:nth-child(1) {
    width: calc(100%);
}
.fieldSelected>*:nth-child(2) {
    width: calc(100%);
}

@media screen and (max-width: 1500px) {
    .display {
        display: block;
    }
}
.updateBtn {
    background: #E18427;
    cursor: pointer;
    border-radius : 5px;
    border: none;
    color: #FFFFFF;
    text-align : center;
    font-weight: bold                              
  }
.updateBtn:hover{
    background: #c2670c;
}

.newRequestBtn {
    background: #4CAF50;
    cursor: pointer;
    border-radius : 5px;
    border: none;
    color: #FFFFFF;
    text-align : center;
    font-weight: bold                              
  }
.newRequestBtn:hover{
    background: #318734;
}
.visibilityHidden {
    visibility: hidden;
}